name: Dependency Review

on:
  pull_request:
    paths:
      - 'package-lock.json'
      - 'package.json'

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Dependency review
        uses: actions/dependency-review-action@v4
